<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--Bootstrap 5 link below-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <!--86400 is a full day; -->
    <meta http-equiv="refresh" content="20">
    <title>Star Wars</title>
    <style>
        body 
        {
            /* Millenium Falcon Background: "https://scontent-lax3-2.xx.fbcdn.net/v/t39.30808-6/279451549_672091804015614_2772677108757777769_n.jpg?stp=dst-jpg_p180x540&_nc_cat=107&ccb=1-5&_nc_sid=730e14&_nc_ohc=UDF1fnL3W6sAX92scRb&_nc_oc=AQnkxPjwYtIGTLypqctMl_Ed8dFTOVJwnPVH8drRoDy9g91OzRJUWDqJCzxk4ryo4k4&_nc_ht=scontent-lax3-2.xx&oh=00_AT-TQO1ToLbw1Uy-X2wNRkbkvXKQtcCoT3Mvf_1EE231aQ&oe=626F3206"*/
            /* space picture of earth bacgkround: "https://scontent-lax3-1.xx.fbcdn.net/v/t39.30808-6/279431261_672093677348760_3219844127226086248_n.jpg?stp=dst-jpg_p180x540&_nc_cat=110&ccb=1-5&_nc_sid=730e14&_nc_ohc=rbKEKvbznHEAX_BAxUF&_nc_ht=scontent-lax3-1.xx&oh=00_AT-IhUMS8UB-w8a2xvl0mVG_BouO6CjmGnflmIF7BfUUag&oe=62707946" */
            background-image: url("/img/BackgroundPicture.jpeg");
            background-size: cover;
        }
    </style>
</head>
<body>
<br><br><br><br><br>
 
<div class="container" style="width: 80%; text-align: center;">
    <div class="shadow p-3 mb-5 bg-body rounded text-center" style="background-color: gray;">

        <% if (data == "planets"){ %> 
            <h3>Here are a bunch of random facts about a Star Wars planet</h3>

            <p>Name: <%= aStarWars.name %> </p>
            <p>Rotation Period: <%= aStarWars.rotation_period %> </p>
            <p>Orbital Period: <%= aStarWars.orbital_period %> </p>
            <p>Diameter: <%= aStarWars.diameter %> </p>
            <p>Terrain: <%= aStarWars.terrain %> </p>
            <p>Population: <%= aStarWars.population %></p>
            

        <%} else if (data == "starships"){ %>
            <h1>Here are a bunch of random facts about a Star Wars ships</h1>

            <p>Name: <%= aStarWars.name %> </p>
            <p>Model: <%= aStarWars.model %> </p>
            <p>Manufacturer: <%= aStarWars.manufacturer %> </p>
            <p>Price in Republic credits: <%= aStarWars.cost_in_credits %> </p>
            <p>Max Speed: <%= aStarWars.max_atmoshpering_speed %> </p>
            <p>Crew: <%= aStarWars.crew %></p>
            <p>Passengers: <%= aStarWars.passengers %></p>

        <%} else if (data == "people"){ %>
            <div class="container row">
                <h1><%= aStarWars.name %></h1>
                <div class="col">

                    <p>Height: <%= aStarWars.height %> cm </p>
                    <p>Weight/Mass: <%= aStarWars.mass %> kg</p>
                    <p>Hair Color: <%= aStarWars.hair_color %> </p>
                    <p>Skin Color: <%= aStarWars.skin_color %> </p>
                    <p>Birth year: <%= aStarWars.birth_year %></p>
                    <p>Gender: <%= aStarWars.gender %></p><br><br>
                </div>
                <div class="col">
                    <img src="/img/Person/Person<%=characterId%>.jpg" height="300">
                </div>
            </div>

            

        <%} else if (data == "films"){ %>
            <div class="container row">
                <h1><%= aStarWars.title %> </h1>
                <div class="col">

                    <p>Director: <%= aStarWars.director %> </p>
                    <p>Producer: <%= aStarWars.producer %> </p>
                    <p>Release Date: <%= aStarWars.release_date %> </p>
                    
                    <p>Opening crawl:</p><br> <p><%= aStarWars.opening_crawl %> </p>

                </div>
                <div class="col">
                    <img src="/img/Films/Films<%=characterId%>.jpg" height="300">
                </div>
            </div>

        <%} else if (data == "species"){ %>
            <h1>Here are a bunch of random facts about a Star Wars species</h1>

            <p>Species name: <%= aStarWars.name %> </p>
            <p>Classification: <%= aStarWars.classification %> </p>
            <p>Average height: <%= aStarWars.average_height %> </p>
        <%} else {%>
            <p>This is an error congrats</p>
        <%}%>
        <br />
    </div>
</div>



</body>
</html> 