<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--Bootstrap 5 link below-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <meta http-equiv="refresh" content="86400">
    <title>display countries</title>
</head>
<body>
    <h1>Welcome to the star Wars fun page!</h1>


    <div class="shadow p-3 mb-5 bg-body rounded">

        <% if (data == "planets"){ %> 
            <h1>Here is a bunch of random facts about a Star Wars planet</h1>

            <p>Name: <%= aStarWars.name %> </p>
            <p>Rotation Period: <%= aStarWars.rotation_period %> </p>
            <p>Orbital Period: <%= aStarWars.orbital_period %> </p>
            <p>Diameter: <%= aStarWars.diameter %> </p>
            <p>Terrain: <%= aStarWars.terrain %> </p>
            <p>Population: <%= aStarWars.population %></p>
            

        <%} else if (data == "starships"){ %>
            <h1>Here is a bunch of random facts about a Star Wars ships</h1>

            <p>Name: <%= aStarWars.name %> </p>
            <p>Model: <%= aStarWars.model %> </p>
            <p>Manufacturer: <%= aStarWars.manufacturer %> </p>
            <p>Price in Republic credits: <%= aStarWars.cost_in_credits %> </p>
            <p>Max Speed: <%= aStarWars.max_atmoshpering_speed %> </p>
            <p>Crew: <%= aStarWars.crew %></p>
            <p>Passengers: <%= aStarWars.passengers %></p>

        <%} else if (data == "people"){ %>
            <h1>Here is a bunch of random facts about a Star Wars people</h1>

            <p>Name: <%= aStarWars.name %> </p>
            <p>Height: <%= aStarWars.height %> cm </p>
            <p>Weight/Mass: <%= aStarWars.mass %> kg</p>
            <p>Hair Color: <%= aStarWars.hair_color %> </p>
            <p>Skin Color: <%= aStarWars.skin_color %> </p>
            <p>Birth year: <%= aStarWars.birth_year %></p>
            <p>Gender: <%= aStarWars.gender %></p><br><br>

            <img src="../img/StarWars1.jpg">

        <%} else if (data == "films"){ %>
            <h1>Here is a bunch of random facts about a Star Wars movie</h1>

            <p>Title: <%= aStarWars.title %> </p>
            <p>Director: <%= aStarWars.director %> </p>
            <p>Producer: <%= aStarWars.producer %> </p>
            <p>Release Date: <%= aStarWars.release_date %> </p>
            
            <p>Opening crawl:</p><br> <p><%= aStarWars.opening_crawl %> </p>

        <%} else if (data == "species"){ %>
            <h1>Here is a bunch of random facts about a Star Wars species</h1>

            <p>Species name: <%= aStarWars.name %> </p>
            <p>Classification: <%= aStarWars.classification %> </p>
            <p>Average height: <%= aStarWars.average_height %> </p>
        <%} else {%>
            <p>This is an error congrats</p>
        <%}%>
        <br />
    </div>



</body>
</html> 